<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="serverLogDirectory" value="${basedir}/serverLogs"/>
    <variable name="clientLogDirectory" value="${basedir}/clientLogs"/>
    <targets>
      <target name="serverFile" layout="${longdate} ${level} ${logger} ${message} ${exception:format=tostring}" type="File" fileName="${serverLogDirectory}/${shortdate}.txt" keepFileOpen="false"></target>
      <target name="clientFile" layout="${longdate} ${level} ${logger} ${message} ${exception:format=tostring}" type="File" fileName="${clientLogDirectory}/${shortdate}.txt" keepFileOpen="false"></target>
      <target name="console" layout="${longdate} ${level} ${logger} ${message} ${exception:format=tostring}" type="ColoredConsole"></target>
    </targets>
    <rules>
      <logger name="Server*" minlevel="Info" writeto="serverFile"></logger>
      <logger name="Client*" minlevel="Info" writeto="clientFile"></logger>
      <logger name="*" minlevel="Info" writeto="console"></logger>
    </rules>
  </nlog>
</configuration>